/*add pop up variables*/


.list-item {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 1fr;
	grid-auto-rows: 200px;
}

.main-add-button {
	position: absolute;
	font-size:1.5em;
	bottom: 1em;
	right: 1em;
}

.add-to-list-popup-bg {
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,0.6);
}
